<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/lr-oop"
              auth="Container"
              type="javax.sql.DataSource"
              maxTotal="20"
              maxIdle="10"
              maxWaitMillis="5000"
              username="postgres_user"
              password="postgres_pass"
              driverClassName="org.postgresql.Driver"
              url="jdbc:postgresql://db:5432/lr_oop_db"/>
</Context>
