<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      th:fragment="main(title)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title} + ' | LR OOP'">Lr7</title>

    <!-- Темы -->
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link id="theme-stylesheet" th:href="@{/css/themes/dark.css}" rel="stylesheet">

    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="theme-dark">
<header th:replace="fragments/header :: header"></header>

<div th:if="${param.error}" class="alert alert-danger m-3">Неверный логин или пароль.</div>

<div th:if="${param.logout}" class="alert alert-success m-3">Вы вышли из системы.</div>

<div class="container mt-4 mb-5"><th:block th:include="${content} ?: (body)"></th:block></div>

<footer th:replace="fragments/footer :: footer"></footer>

<!-- Библиотеки -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/notifications.js}"></script>
<script th:src="@{/js/charts.js}"></script>
</body>
</html>