<footer th:fragment="footer" xmlns:th="http://www.thymeleaf.org" class="bg-dark text-white py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>© 2025 Самарский университет. Все права защищены его величеством А.К.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#" class="text-white me-3">Политика конфиденциальности</a>
                <a href="#" class="text-white">Условия использования</a>
            </div>
        </div>
    </div>
</footer>